
/*CSS RESET*/
body {
  margin: 0;
  background-color: #333;
  font-family: 'Oswald',sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

/*LAYOUT*/
.navbar{
  background-color: #222;
  display: table;
  width: 100%;
  
}

.navbar a {
  color: white;
}

.navbar .row {
  display: table-row;
}
.navbar ul{
  /*border: 2px solid white;*/

  display: table-cell;
  vertical-align: middle;
}
.navbar li {
  display: inline-block;
  padding: 10px 10px;
  vertical-align: middle;
}
.navbar ul.branding {
  padding-left: 50px;
  padding-right: 100px;
}
.navbar ul.client{
  text-align: right;
  padding-right:50px ;
}
.navbar ul.branding li:first-child {
  font-size: 30px;
}